.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color:#333333;
    color: #81F3E0;
    font-size: 4rem;
    &.lightMode {
        background-color: #FFFFFF;
    }
}